<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Escuchify</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="artistas">
                <span class="bi bi-people" aria-hidden="true"></span> Artistas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="discos">
                <span class="bi bi-disc" aria-hidden="true"></span> Discos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="canciones">
                <span class="bi bi-music-note-list" aria-hidden="true"></span> Canciones
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}